
<div class="col-md-12">
    <div class="card">
        <div class="container">
            <div class="container">
                <br>
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" [ngStyle]="{'text-align': 'center'}"> Edit Interest</h3>
                <form class="px-md-2">
                    <!-- <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" />
                    <label class="form-label" for="form3Example1q">Name</label>
                    </div> -->

                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">SPORT/FITNESS</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Cricket</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">FOOT BALL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">BADMITTON</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">CARROM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">TREKKING</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">CYCLING</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">BOATING</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">MARATHON</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">TABLE TENNIS</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">YOGA</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">WORKOUT</label>
                        </div>
                    </div>
                    </div>

                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">FOOD</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">VEG</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">NONVEG</label>
                        </div>
                    </div>
                    </div>

                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">CREATIVITY</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">ZOOMBA</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">TRADITIONAL DANCE</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">MUSIC</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">TABLA</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">BOLLYWOOD DANCE DANCE</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ART</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">POEM</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">LITERATURE</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ART & CRAFT</label>
                        </div>
                    </div>
                    </div>
                    
                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">TECHNOLOGY</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">JAVA</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">SQL</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CLOUD</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ANGULAR</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">NODE JS</label>
                        </div>
                    </div>
                    </div>

                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">STOCK UPDATES</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">EQUALITY</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">IPO</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">MUTUAL FUNDS</label>
                        </div>
                    </div>
                    </div>

                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">PARENTING</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">BABY FOODS/HEALTH</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CHILD PSYCHOLOGY</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">CHILDREN SPORTS</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ROOMMATE</label>
                        </div>
                    </div>
                    </div>

                    <div class="mb-4">
                    <div class="row">
                        <b><label class="form-label" for="form3Example1q">SHOPPING</label></b>
                    </div>
                    <div class="row">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">GARMENTS</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">GROCERY</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">SPORT EQUIPMENTS</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">ELECTRONICS</label>
                        </div>
                    </div>
                    </div>

                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                    <div class="col-md-6">
                    </div>
                    </div>
                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-primary btn-lg mb-1" style="background-color: #002e87;">Submit</button>
                    </div>
                    </div>
                </form>
            </div>  
         </div>   
    </div>
</div>            
<div class="col-md-12 card">
    <div class="comtainer" style="padding: 50px;">
        <br>
        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" [ngStyle]="{'text-align': 'center'}"> Search Interest</h3>
        <form [formGroup]="searchInterestForm" (ngSubmit)="onSubmit(searchInterestForm)">
            <div class="form-row"> 
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="watch" value="" placeholder="Interest" formControlName="interest">
                    <div
                        *ngIf="!searchInterestForm.controls.interest?.valid && (searchInterestForm.controls.interest?.dirty
                        ||searchInterestForm.controls.interest?.touched)" style="font-size:12px;color: red;">
                        Interest is not valid
                  </div>
                </div>
                
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="text" placeholder="Sub Interest" formControlName="subInterest">
                    <div
                        *ngIf="!searchInterestForm.controls.subInterest?.valid && (searchInterestForm.controls.subInterest?.dirty
                        ||searchInterestForm.controls.subInterest?.touched)" style="font-size:12px;color: red;">
                        Subinterest is not valid
                  </div>
                </div>
                
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-primary" style="background-color: #002e87;" [disabled]="!searchInterestForm.valid"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">  
        <div class="d-flex flex-row-reverse bd-highlight mb-2">
            <div class="p-2 bd-highlight">
                <select (change)="onTableSizeChange($event)" class="custom-select">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                </option>
                </select>
            </div>
            </div>
        
            <table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Address</th>
                <th>Interest</th>
                <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of POSTS | paginate : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                        };
                let i = index" [class.active]="i == currentIndex">
                <td scope="row">{{post.name}}</td>
                <td>{{post.department}}</td>
                <td>{{post.location}}</td>
                <td>{{post.interest}}</td>
                <td>{{post.contact}}</td>
                </tr>
            </tbody>
            </table>
        
            <div class="d-flex justify-content-center">
            <pagination-controls 
                responsive="true" 
                previousLabel="Prev" 
                nextLabel="Next" 
                (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div> 
</div>
   
 
