@media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}